{
"TRECEVAL": "/home/snp3/yukon/ir/trec_eval.9.0",
"LUCENE"  : "/home/snp3/yukon/ir/lucene.TREC",
"TERRIER" : "/home/snp3/yukon/ir/terrier-mod",
"LEMUR"   : "/home/snp3/yukon/ir/indri",
"EXP"     : "/home/snp3/yukon/privcolls",
"DOCS"    : "docs",
"TOPICS"  : "topics",
"QRELS"   : "qrels",
"MISC"	  : "misc",
"INDEX"   : "index",
"RUNS"    : "runs",
"EVALS"   : "evals"
}
